@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:georgia;
}
html,body{
  
  place-items: center;
  text-align: center;
  height: 100vh;

  
  
   
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


  align-items: center;
  justify-content: center;
 
  text-align: center;
}

.slider{
  max-width: 1100px;
  display: flex;
  margin-bottom: 80px;
}
.slider .card{
  flex: 1;
 margin-top:0%;
 margin-left:0%;
  background:transparent;
 
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #c90c0c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #39e808;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.1);
}
